

.homePage {
    padding: 20px;

}

.loading{
    text-align: center;
}


.filterBox {
    display: flex;
    gap: 10px;
    margin: 20px 0;

}
.filterBox select {
    padding: 8px;

}

.categoryFilter{
border: 1px solid #ddd;
padding: 10px;
max-height: 200px;
overflow: auto;


}

.categoryItem{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.categoryFilter label{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;

}

.categoryFilter input[type="checkbox"] {
  cursor: pointer;
}

.customDropDown {
  position: relative;
}

.dropdownBtn {
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background: white;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 220px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 100;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.categoryItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.productContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.productCard {
    border: 2px solid rgb(214, 210, 210) ;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.productCard img {

    width: 100%;
    height: 180px;
    object-fit: cover;

}

.productCard h3 {
    font-size: 16px;
    margin: 10px 0;
    height: 50px;
    overflow: hidden;


}

.productCard a {
    display: block;
    margin: 10px 0;
    margin-top: auto;

}
.productCard button {

    width: 100%;
    padding: 8px;
    cursor: pointer;
}

/* Tablet view css*/


@media (max-width: 992px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}




/* Mobile  view  CSS */
@media (max-width: 500px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .filterBox {
    flex-direction: column;
  }

  .productCard img {
    height: 230px;
  }

  .productCard h3 {
    font-size: 14px;
  }

  .categoryFilter{
    flex-direction: column;
    gap: 8px;
    
  }
}
